<ion-view view-title="Profile builder">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>

  <ion-content class="padding">   

	<div class="row login_grid1">
		<form name="vm.form.artists" novalidate>
			<div id="artists">
				<div>
				<p class="titleColor">Profile pictures</p>
				<div class="row no_pad multipleimage">
					<div class="col-33 col imgdiv">
						<label class="uploadbtn1">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 'frontview')" />
						</label><br>
						<span id="frontview"></span>
						<span id="frontviewDelete" style="display:none;" ng-click="vm.deleteImg('frontview');">X</span>
					</div>

					<div class="col-33 col imgdiv">
						<label class="uploadbtn2">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 'sideview')" />
						</label><br>
						<span id="sideview"></span>
						<span id="sideviewDelete" style="display:none;" ng-click="vm.deleteImg('sideview');">X</span>
					</div>

					<div class="col-33 col imgdiv">
						<label class="uploadbtn3">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files, 'fullview')" />
						</label><br>
						<span id="fullview"></span>
						<span id="fullviewDelete" style="display:none;" ng-click="vm.deleteImg('fullview');">X</span>
					</div>
				</div>
				</div> 

				<div class="border_bottom">
				<label>
					<div>
						<input type="url" name="videos" placeholder="Profile video(Youtube link)" class="inputbox" ng-model="vm.artist.videos">
					</div>

					<div id="profileVideo">
						<label class="uploadbtn4">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadVideo(this.files)" />
						</label><br>
						<span id="profilevideo"></span>
					</div>
				</label>
				</div>

				<div class="border_bottom">
				<p ng-click="vm.listSkills();">Skills <span class="pull-right" ng-show="!vm.showSkills"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showSkills"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper2">
						<ul id="skills_list" ng-show="vm.showSkills">
							<li ng-repeat="(key, value) in vm.skills" data-id="{{key}}">
								<input type="checkbox" name="selectSkills[]" value="{{key}}" ng-model="vm.selectedSkills[key]" />
								{{value}}
							</li>
						</ul>
					</div>
					<!--<div class="wrapper" id="dwrapper2">
						<select id="dlist2" name="skills" ng-model="vm.artist.skills">
						  <option value="">Select</option>
						  <option ng-repeat="(key, value) in vm.skills" value="{{key}}">{{value}}</option>
						</select>
					</div>-->
				</div>

				<div class="error_alert" ng-show="vm.form.artists.skills.$dirty && vm.form.artists.skills.$error.required">
				    <span>Skills is required.</span>
				</div>

				<input type="text" ng-if="vm.artist.skills === '8'" class="inputbox" placeholder="Enter your skills" name="otherskills" ng-model="artist.otherskills" />

				<p class="titleColor">Personal details</p>

				<div class="border_bottom">
				<p>Gender <span class="pull-right">
					<select class="segment-select" id="gender">
				      <option value="1">Male</option>
				      <option value="2">Female</option>
				  	</select>
				</span></p>
			  	</div>

				<input type="date" name="dob" ng-model="vm.artist.dob" placeholder="Date of birth" class="inputbox" required>
				<div class="error_alert" ng-show="vm.form.artists.dob.$dirty && vm.form.artists.dob.$error.required">
				    <span>Date of birth is required.</span>
				</div>

				<div class="border_bottom">
				<p ng-click="vm.listBodies();">Body Type <span class="pull-right" ng-show="!vm.showBodies"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showBodies"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper4">
						<ul id="bodies_list" ng-show="vm.showBodies">
							<li ng-repeat="(key, value) in vm.bodies" data-id="{{key}}">
								<input type="radio" name="selectBodies[]" value="{{key}}" ng-model="vm.selectedBodies[key]" />
								{{value}}
							</li>
						</ul>
					</div>
						<!--<div class="wrapper" id="dwrapper4">
							<select id="dlist4" ng-model="vm.artist.body_type" required>
							  	<option value="">Select</option>
								<option ng-repeat="(key, value) in vm.bodies" value="{{key}}">{{value}}</option>
							</select>
						</div>-->
				</div>

				<div class="border_bottom">
				<p ng-click="vm.listHairType();">Hair Type <span class="pull-right" ng-show="!vm.showHairType"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showHairType"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper5">
						<ul id="hairs_list" ng-show="vm.showHairType">
							<li ng-repeat="(key, value) in vm.hairs" data-id="{{key}}">
								<input type="radio" name="selectHairs[]" value="{{key}}" ng-model="vm.selectedHairs[key]" />
								{{value}}
							</li>
						</ul>
					</div>
						<!--<div class="wrapper" id="dwrapper5">
							<select id="dlist5" ng-model="vm.artist.hair_type" required>
							  	<option value="">Select</option>
								<option ng-repeat="(key, value) in vm.hairs" value="{{key}}">{{value}}</option>
							</select>
						</div>-->
				</div>

				<input type="text" ng-if="vm.artist.hair_type === '5'" name="others_hairtype" ng-model="vm.others_hairtype" class="inputbox" placeholder="Enter your hair type">

				<input type="number" name="weight" ng-model="vm.artist.weight" class="inputbox" placeholder="Enter your weight" autocomplete="off" required>
				<div class="error_alert" ng-show="vm.form.artists.weight.$dirty && vm.form.artists.weight.$error.required">
				    <span>Weight is required.</span>
				</div>

				<div class="border_bottom">
				<p ng-click="vm.listLanguages();">Languages <span class="pull-right" ng-show="!vm.showLanguages"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showLanguages"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper8">
						<ul id="languages_list" ng-show="vm.showLanguages">
							<li ng-repeat="(key, value) in vm.languages" data-id="{{key}}">
								<input type="checkbox" name="selectlanguages[]" value="{{key}}" ng-model="vm.selectedLanguages[key]" />
								{{value}}
							</li>
						</ul>
					</div>
						<!--<div class="wrapper" id="dwrapper8">
							<select id="dlist8" ng-model="vm.artist.languages" required>
							  <option value="">Select</option>
								<option ng-repeat="(key, value) in vm.languages" value="{{key}}">{{value}}</option>
							</select>
						</div>-->
				</div>

				<input type="text" ng-if="vm.artist.languages === '7'" name="others_languages" ng-model="vm.artist.others_languages" class="inputbox bottom_30" placeholder="Enter your language" />

				<!-- <div class="border_bottom">
				Experience
						<div class="wrapper" id="dwrapper3">
							<select id="dlist3" ng-model="vm.artist.experince" required>
							  	<option value="">Select</option>
								<option ng-repeat="(key, value) in vm.experience" value="{{key}}">{{value}}</option>
							</select>
						</div>
				</div> -->

				<div class="border_bottom">
				<p>Experience <span class="pull-right">
					<select class="segment-select" id="experience">
				      <option value="1">Fresher</option>
				      <option value="2">Experienced</option>
				  	</select>
				</span></p>
			  	</div>

				<input type="text" name="city" placeholder="City" class="inputbox" ng-model="vm.artist.city" required>
				<div class="error_alert" ng-show="vm.form.artists.city.$dirty && vm.form.artists.city.$error.required">
				    <span>City is required.</span>
				</div>

				<input type="text" name="other_ethnicity" placeholder="Ethnicity" class="inputbox" ng-model="vm.artist.other_ethnicity" />

				<div class="border_bottom">
				<p ng-click="vm.listSkins();">Skin Color <span class="pull-right" ng-show="!vm.showSkins"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showSkins"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper6">
						<ul id="skins_list" ng-show="vm.showSkins">
							<li ng-repeat="(key, value) in vm.skins" data-id="{{key}}">
								<input type="radio" name="selectSkins[]" value="{{key}}" ng-model="vm.selectedSkins[key]" />
								{{value}}
							</li>
						</ul>
					</div>
						<!--<div class="wrapper" id="dwrapper6">
							<select id="dlist6" ng-model="vm.artist.skin_color" required>
							  	<option value="">Select</option>
								<option ng-repeat="(key, value) in vm.skins" value="{{key}}">{{value}}</option>
							</select>
						</div>-->
				</div>

				<div class="border_bottom">
				<p ng-click="vm.listHaircolors();">Hair Color <span class="pull-right" ng-show="!vm.showHaircolors"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showHaircolors"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper7">
						<ul id="haircolors_list" ng-show="vm.showHaircolors">
							<li ng-repeat="(key, value) in vm.haircolors" data-id="{{key}}">
								<input type="radio" name="selectHairColors[]" value="{{key}}" ng-model="vm.selectHairColors[key]" />
								{{value}}
							</li>
						</ul>
					</div>
						<!--<div class="wrapper" id="dwrapper7">
							<select id="dlist7" ng-model="vm.artist.hair_color" required>
							  	<option value="">Select</option>
								<option ng-repeat="(key, value) in vm.haircolors" value="{{key}}">{{value}}</option>
							</select>
						</div>-->
				</div>

				<div class="border_bottom">
				<p>Professional trained <span class="pull-right">
					<select class="segment-select" id="training">
				      <option value="1">Yes</option>
				      <option value="0">No</option>
				  	</select>
				</span></p>
			  	</div>

				<button class="button button-outline loginbtn createportfolio" ng-click="vm.saveArtistDetails()">
				  create portfolio
				</button>
			</div>

		</form>
	</div>

  </ion-content>
</ion-view>
