<ion-view view-title="Artists Overview" class="dashboard">

  <logout></logout>
  
  <ion-content class="padding">
    
    <div class="list_overview" ui-sref="overview">
        <div class="profile_picture">
            <img ng-src="http://mewhoelse.in/img/profile/{{user_id}}.jpg?v={{version}}" alt="Artist" class="img-responsive">
            <h4>{{vm.artist.user_name}} , {{vm.profession}}</h4>
        </div>
        <h4 class="personal">Personal details</h4>
        <div class="padding_30">
            <p>Gender <span class="pull-right">{{::vm.gender}}</span></p>
            <p>Date of birth <span class="pull-right">{{::vm.artist.user_dob | date : 'mediumDate'}}</span></p>
            <p ng-if="vm.artist.user_skills_id">Skills <span class="pull-right">{{::vm.skill}}</span></p>
            <p ng-if="vm.artist.user_others_kills">{{::vm.artist.user_others_kills}} <span class="pull-right">{{::vm.client.user_language_others}}</span></p>
            <p>Experience <span class="pull-right">{{::vm.exp}}</span></p>
            <p>City <span class="pull-right">{{::vm.artist.user_city}}</span></p>
            <p>Ethnicity <span class="pull-right">{{::vm.artist.user_ethinicity}}</span></p>
            <p>Body Type <span class="pull-right">{{::vm.body}}</span></p>
            <p ng-if="vm.artist.user_hair_id">Hair Type <span class="pull-right">{{::vm.hair}}</span></p>
            <p ng-if="!vm.artist.user_hair_id">Hair Type <span class="pull-right">{{::vm.hair}}</span></p>
            <p>Weight <span class="pull-right">{{::vm.artist.user_weight}} KG</span></p>
            <p>Skin Color <span class="pull-right">{{::vm.skin}}</span></p>
            <p>Hair Color <span class="pull-right">{{::vm.haircolor}}</span></p>
            <p>Professional trained <span class="pull-right">
            <span ng-if="vm.artist.user_is_professional == 0">Yes</span>
            <span ng-if="vm.artist.user_is_professional == 1">No</span>
            </span></p>
            <p>Languages <span class="pull-right">{{::vm.lang}}</span></p>
            <p ng-if="vm.artist.user_language_others">Languages <span class="pull-right">{{::vm.artist.user_language_others}}</span></p>
            <p>Profile Videos</p>
            <youtube-video player-width="'100%'" player-height="'200px'" player="bestPlayer" video-url="vm.artist.user_videos"></youtube-video>
            <button class="button button-outline loginbtn" ui-sref="artist-update">
              Update
            </button>
        </div>
    </div>

  </ion-content>
</ion-view>
