<ion-view view-title="Artists" class="login" hide-nav-bar="true">
  <ion-content class="padding">

	<div id="landing_header" class="text-center">
		<img src="img/logo.png" alt="Logo_Meapp" class="img-responsive">
	</div>    

	<div class="row login_grid">
		<form>
			<div id="artists">
				<div><label><input type="radio" name="gender"> Male</label>
				<label><input type="radio" name="gender"> Female</label></div>
				<input type="date" name="dob" placeholder="Date of birth" class="inputbox">
				<label>Add Profile picture <input type="file" name="profile"></label><br><br>
				<input type="url" name="videos" placeholder="Add profile videos link here" class="inputbox">
				<select name="skills" class="dropdown" ng-model="artist_skill">
					<option value="">Skills</option>
					<option ng-repeat="skil in skills" value="{{skil.id_skills}}">{{skil.type}}</option>
				</select>
				<input type="text" name="otherskills" class="inputbox" placeholder="Enter your skills">
				<select name="experince" class="dropdown" ng-model="artist_experience">
					<option value="">Experience</option>
					<option ng-repeat="exp in experience" value="{{exp.id_experience}}">{{exp.type}}</option>
				</select>
				<input type="text" name="city" placeholder="City" class="inputbox">
				<input type="text" name="ethnicity" placeholder="Ethnicity" class="inputbox">
				<select name="body_type" class="dropdown" ng-model="artist.body">
					<option value="">Body Type</option>
					<option ng-repeat="body in bodies" value="{{body.id_body}}">{{body.type}}</option>
				</select>
				<select name="hair_type" class="dropdown" ng-model="artist.hair_type">
					<option value="">Hair Type</option>
					<option ng-repeat="hair in hairs" value="{{hair.id_hair}}">{{hair.type}}</option>
				</select>
				<input type="text" name="others_hairtype" class="inputbox" placeholder="Enter your hair type">
				<input type="text" name="weight" class="inputbox" placeholder="Enter your weight">
				<select name="skin_color" class="dropdown" ng-model="artist_skincolor">
					<option value="">Skin Color</option>
					<option ng-repeat="skin in skins" value="{{skin.id_skin}}">{{skin.type}}</option>
				</select>
				<select name="hair_color" class="dropdown" ng-model="artist_haircolor">
					<option value="">Hair Color</option>
					<option ng-repeat="haircolor in haircolors" value="{{haircolor.id_hair}}">{{haircolor.type}}</option>
				</select>
				<div>
					Professional trained <label><input type="radio" name="training" value="Yes"> Yes</label>
					<label><input type="radio" name="training" value="No"> No</label>
				</div><br>
				<select name="languages" class="dropdown" ng-model="artist_language">
					<option value="">Languages</option>
					<option ng-repeat="language in languages" value="{{language.id_language}}">{{language.type}}</option>
				</select>
				<input type="text" name="others_languages" class="inputbox bottom_30" placeholder="Enter your language">

				<button class="button button-outline loginbtn" ng-click="register()">
				  register
				</button>
			</div>

		</form>
	</div>

  </ion-content>
</ion-view>
