<ion-view view-title="Profile builder">

  <div class="logout">
    <logout></logout>
  </div>

  <ion-content class="padding">   

	<div class="row login_grid1">
		<form name="vm.form.artists">
			<div id="artists">
				<div>
				<p>Profile pictures</p>
				<div class="row no_pad multipleimage">
					<div class="col-33 col">
						<label class="uploadbtn1">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
						</label><br>
						<span id="headview"></span>
					</div>

					<div class="col-33 col">
						<label class="uploadbtn2">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
						</label><br>
						<span id="profileview"></span>
					</div>

					<div class="col-33 col">
						<label class="uploadbtn3">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)" />
						</label><br>
						<span id="fullview"></span>
					</div>
				</div>
				</div> 

				<div class="border_bottom">
				<label>
					<div>
						<input type="url" name="videos" placeholder="Profile video(Youtube link)" class="inputbox" ng-model="vm.artist.videos">
					</div>

					<div id="profileVideo">
						<label class="uploadbtn4">
							<input type="file" name="file" onchange="angular.element(this).scope().uploadVideo(this.files)" />
						</label><br>
						<span id="profilevideo"></span>
					</div>
				</label>
				</div>

				<div class="border_bottom">
				Skills
						<div class="wrapper" id="dwrapper2">
							<select id="dlist2" name="skills" ng-model="vm.artist.skills" multiple="true" required>
							  <option value="">Select</option>
							  <option ng-repeat="skill in vm.skills" value="{{skill}}">{{skill}}</option>
							</select>
						</div>
				</div>

				<div class="error_alert" ng-show="vm.form.artists.skills.$dirty && vm.form.artists.skills.$error.required">
				    <span>Skills is required.</span>
				</div>

				<input type="text" ng-if="vm.artist.skills === '8'" class="inputbox" placeholder="Enter your skills" name="otherskills" ng-model="artist.otherskills" />

				<p>Personal details</p>

				<div class="border_bottom">
				<p>Gender <span class="pull-right">
					<select class="segment-select">
				      <option value="1">Male</option>
				      <option value="0">Female</option>
				  	</select>
				</span></p>
			  	</div>

				<input type="date" name="dob" ng-model="vm.artist.dob" placeholder="Date of birth" class="inputbox" required>
				<div class="error_alert" ng-show="vm.form.artists.dob.$dirty && vm.form.artists.dob.$error.required">
				    <span>Date of birth is required.</span>
				</div>

				<div class="border_bottom">
				Body Type
						<div class="wrapper" id="dwrapper4">
							<select id="dlist4"  multiple ng-model="vm.artist.body_type" required>
							  	<option value="">Select</option>
								<option ng-repeat="body in vm.bodies" value="{{body}}">{{body}}</option>
							</select>
						</div>
				</div>

				<div class="border_bottom">
				Hair Type
						<div class="wrapper" id="dwrapper5">
							<select id="dlist5"  multiple ng-model="vm.artist.hair_type" required>
							  	<option value="">Select</option>
								<option ng-repeat="hair in vm.hairs" value="{{hair}}">{{hair}}</option>
							</select>
						</div>
				</div>

				<input type="text" ng-if="vm.artist.hair_type === '5'" name="others_hairtype" ng-model="vm.others_hairtype" class="inputbox" placeholder="Enter your hair type">
				<input type="number" name="weight" ng-model="vm.artist.weight" class="inputbox" placeholder="Enter your weight" autocomplete="off" required>
				<div class="error_alert" ng-show="vm.form.artists.weight.$dirty && vm.form.artists.weight.$error.required">
				    <span>Weight is required.</span>
				</div>

				<div class="border_bottom">
				Languages
						<div class="wrapper" id="dwrapper8">
							<select id="dlist8"  multiple ng-model="vm.artist.languages" required>
							  <option value="">Select</option>
								<option ng-repeat="language in vm.languages" value="{{language}}">{{language}}</option>
							</select>
						</div>
				</div>

				<input type="text" ng-if="vm.artist.languages === '7'" name="others_languages" ng-model="vm.artist.others_languages" class="inputbox bottom_30" placeholder="Enter your language" />

				<div class="border_bottom">
				Experience
						<div class="wrapper" id="dwrapper3">
							<select id="dlist3"  multiple  ng-model="vm.artist.experince" required>
							  	<option value="">Select</option>
								<option ng-repeat="experience in vm.experience" value="{{experience}}">{{experience}}</option>
							</select>
						</div>
				</div>

				<input type="text" name="city" placeholder="City" class="inputbox" ng-model="artist.city" required>
				<div class="error_alert" ng-show="vm.form.artists.city.$dirty && vm.form.artists.city.$error.required">
				    <span>City is required.</span>
				</div>

				<input type="text" name="other_ethnicity" placeholder="Ethnicity" class="inputbox" ng-model="vm.artist.other_ethnicity" />

				<div class="border_bottom">
				Skin Color
						<div class="wrapper" id="dwrapper6">
							<select id="dlist6"  multiple ng-model="vm.artist.skin_color" required>
							  	<option value="">Select</option>
								<option ng-repeat="skin in vm.skins" value="{{skin}}">{{skin}}</option>
							</select>
						</div>
				</div>

				<div class="border_bottom">
				Hair Color
						<div class="wrapper" id="dwrapper7">
							<select id="dlist7"  multiple ng-model="vm.artist.hair_color" required>
							  	<option value="">Select</option>
								<option ng-repeat="haircolor in vm.haircolors" value="{{haircolor}}">{{haircolor}}</option>
							</select>
						</div>
				</div>

				<div class="border_bottom">
				<p>Professional trained <span class="pull-right">
					<select class="segment-select" ng-model="vm.artist.training">
				      <option value="1">Yes</option>
				      <option value="0">No</option>
				  	</select>
				</span></p>
			  	</div>

				<button class="button button-outline loginbtn createportfolio" ng-click="vm.saveArtistDetails()" ng-disabled="!vm.form.artists.$valid">
				  create portfolio
				</button>
			</div>

		</form>
	</div>

  </ion-content>
</ion-view>
