<ion-view view-title="Artists Overview" class="dashboard">
  
  <logout></logout>
  
  <ion-content class="padding">
    
    <div class="list_overview" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist" class="img-responsive">
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>profession <span class="pull-right">Artists</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Gender <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Date of birth <span class="pull-right">Chennai</span></p>
        <p>Skills <span class="pull-right">Horse Riding</span></p>
        <p>Experience <span class="pull-right">Experienced</span></p>
        <p>City <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Ethnicity <span class="pull-right">Chennai</span></p>
        <p>Body Type <span class="pull-right">Average</span></p>
        <p>Hair Type <span class="pull-right">Short</span></p>
        <p>Weight <span class="pull-right">60KG</span></p>
        <p>Skin Color <span class="pull-right">Olive</span></p>
        <p>Hair Color <span class="pull-right">Red</span></p>
        <p>Professional trained <span class="pull-right">Yes</span></p>
        <p>Languages <span class="pull-right">Tamil English</span></p>
        <p>Hair Color <span class="pull-right">Red</span></p>
        <p>Profile Videos</p>
        <iframe width="300" height="300" src="https://www.youtube.com/embed/XGSy3_Czz8k">
        </iframe>
    </div>

  </ion-content>
</ion-view>
