<ion-view view-title="Clients Overview" class="dashboard">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>
  
  <ion-content class="padding">
    
    <div class="list_overview">
        <div class="profile_picture">
            <h4>{{::vm.client.user_name}}</h4>
        </div>

        <div class="padding_0 artistColor">

            <i class="icon ion-compose editProject" ui-sref="client-update"></i>
            
            <p class="titleColor top_10">Project Details</p>
            <div class="row">
                <div class="col col-50">Project</div>
                <div class="col col-50">: <span ng-if="vm.client.user_project == 1">New</span>
            <span ng-if="vm.client.user_project == 2">Existing</span></div>
            </div>
            <div class="row">
                <div class="col col-50">Project name</div>
                <div class="col col-50">: {{::vm.client.user_project_name}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Project type</div>
                <div class="col col-50">: {{::vm.project}}</div>
            </div>

            <p class="titleColor">Project Description</p>
            <div class="row">
                <div class="col col-50">Roll type</div>
                <div class="col col-50">: {{::vm.role}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Looking for</div>
                <div class="col col-50">: {{::vm.looking}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Character name</div>
                <div class="col col-50">: {{::vm.client.user_character_name}}</div>
            </div>

            <p class="titleColor">Requirements</p>
            <div class="row">
                <div class="col col-50">Body Type</div>
                <div class="col col-50">: {{::vm.body}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Experience</div>
                <div class="col col-50">: {{::vm.exp}}</div>
            </div>
             <div class="row">
                <div class="col col-50">Professional trained</div>
                <div class="col col-50">: <span ng-if="vm.client.user_is_professional == 1">Yes</span>
            <span ng-if="vm.client.user_is_professional == 2">No</span></div>
            </div>
            <div class="row" ng-if="vm.client.user_language_id">
                <div class="col col-50">Languages</div>
                <div class="col col-50">: {{::vm.lang}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Production house name</div>
                <div class="col col-50">: {{::vm.client.user_production_house}}</div>
            </div>

        </div>

        <button class="button button-outline loginbtn autowidth" ui-sref="client-register">
            Add more requirements
        </button>

        <button class="button button-outline loginbtn autowidth" ui-sref="dashboard">
          view artists & technicians
        </button>
    </div>

  </ion-content>
</ion-view>
