<ion-view view-title="Technicians Overview" class="dashboard">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>
  
  <ion-content class="padding">
    
    <div class="list_overview" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist" class="img-responsive">
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>profession <span class="pull-right">Artists</span></p>
        <p>Project <span class="pull-right">New</span></p>
        <p>Gender <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Project name <span class="pull-right">Project 1</span></p>
        <p>Project type <span class="pull-right">type 1</span></p>
        <p>Project description <span class="pull-right">description</span></p>
        <p>Roll type <span class="pull-right">Junior</span></p>
        <p>Looking for <span class="pull-right">Male</span></p>
        <p>Character name <span class="pull-right">new character</span></p>
        <p>Character description <span class="pull-right">new character decription</span></p>
        <p>Requirements</p>
        <p>Body Type <span class="pull-right">Mascular</span></p>
        <p>Experience <span class="pull-right">Freshers</span></p>
        <p>Professional trained <span class="pull-right">Yes</span></p>
        <p>Languages <span class="pull-right">Tamil Kannada</span></p>
        <p>Production house name <span class="pull-right">House</span></p>        
    </div>

  </ion-content>
</ion-view>
