<ion-view view-title="Client Register">

  <div class="logout">
    <logout></logout>
  </div>
  
  <ion-content class="padding">   

	<div class="row login_grid1">
		<form name="vm.form.client">
			<!-- clients -->
			<div id="clients">

			<p class="titleColor">Project Details</p>

			<div class="border_bottom">
			<p>Project <span class="pull-right">
				<select class="segment-select" id="project">
					<option value="1">New</option>
					<option value="2">Existing</option>
				</select>
			</span></p>
			</div>

			<input type="text" name="projectname" class="inputbox" placeholder="Project name" ng-model="vm.client.projectname">

			<div class="border_bottom">
			<p ng-click="vm.listProjectType();">Project type <span class="pull-right" ng-show="!vm.showProjectType"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showProjectType"><i class="icon ion-ios-arrow-down"></i></span></p>
				<div class="wrapper" id="dwrapper2">
					<ul id="projects_list" ng-show="vm.showProjectType">
						<li ng-repeat="(key, value) in vm.projects" data-id="{{key}}">
							<input type="radio" name="selectProjectType" ng-value="{{key}}" ng-model="vm.selectedProjectType" />
							{{value}}
						</li>
					</ul>
				</div>
			</div>

			<p class="titleColor">Project Description</p>

			<div class="border_bottom">
			<p ng-click="vm.listRollType();">Roll type <span class="pull-right" ng-show="!vm.showRollType"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showRollType"><i class="icon ion-ios-arrow-down"></i></span></p>
				<div class="wrapper" id="dwrapper2">
					<ul id="roles_list" ng-show="vm.showRollType">
						<li ng-repeat="(key, value) in vm.roles" data-id="{{key}}">
							<input type="radio" name="selectRollType" value="{{key}}" ng-model="vm.selectedRollType" />
							{{value}}
						</li>
					</ul>
				</div>
			</div>

			<div class="border_bottom">
			<p>Looking for <span class="pull-right">
				<select class="segment-select" id="looking_for">
					<option value="1">Male</option>
					<option value="2">Female</option>
				</select>
			</span></p>
			</div>

			<input type="text" name="character_name" class="inputbox" placeholder="Character name" ng-model="vm.client.character_name">

			<textarea name="project_description" placeholder="Project description" class="textareabox" ng-model="vm.client.project_description"></textarea>

			<p class="titleColor">Requirements</p>
			
			<div class="border_bottom">
			<p ng-click="vm.listBodies();">Body Type <span class="pull-right" ng-show="!vm.showBodies"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showBodies"><i class="icon ion-ios-arrow-down"></i></span></p>
				<div class="wrapper" id="dwrapper4">
					<ul id="bodies_list" ng-show="vm.showBodies">
						<li ng-repeat="(key, value) in vm.bodies">
							<input type="radio" name="selectBodies" ng-value="{{key}}" ng-model="vm.selectedBodies" />
							{{value}}
						</li>
					</ul>
				</div>
			</div>

			<div class="border_bottom">
			<p>Experience <span class="pull-right">
				<select class="segment-select" id="experience">
					<option value="1">Fresher</option>
					<option value="2">Experienced</option>
				</select>
			</span></p>
			</div>

			<div class="border_bottom">
			<p>Professional trained <span class="pull-right">
				<select class="segment-select" id="training">
			      <option value="1">Yes</option>
			      <option value="2">No</option>
			  	</select>
			</span></p>
		  	</div>

			<div class="border_bottom">
				<p ng-click="vm.listLanguages();">Languages <span class="pull-right" ng-show="!vm.showLanguages"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showLanguages"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper8">
						<ul id="languages_list" ng-show="vm.showLanguages">
							<li ng-repeat="(key, value) in vm.languages">
								<input type="checkbox" name="selectlanguages[]" value="{{key}}" ng-model="vm.selectedLanguages[key]" />
								{{value}}
							</li>
						</ul>
					</div>
			</div>

			<input type="text" name="others_languages" ng-model="vm.client.others_languages" class="inputbox bottom_30" placeholder="Enter your language">

			<input type="text" name="production_housename" class="inputbox bottom_10" placeholder="Production house name" ng-model="vm.client.production_housename" autocomplete="off">

			<button class="button button-outline loginbtn" ng-click="vm.saveClientDetails()">
			  proceed
			</button>

			</div>

		</form>
	</div>

  </ion-content>
</ion-view>
