<ion-view view-title="Technicians" class="dashboard">
  <ion-content>
    
    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Arunkumar, Camera man <span class="pull-right">Age: 34</span></h4>
          <p>Bangalore</p>
        </div>
    </div>

    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Arunkumar, Camera man <span class="pull-right">Age: 40</span></h4>
          <p>Bangalore</p>
        </div>
    </div>

    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Arunkumar, Camera man <span class="pull-right">Age: 38</span></h4>
          <p>Bangalore</p>
        </div>
    </div>


  </ion-content>
</ion-view>
