<ion-view view-title="Artists" class="dashboard">

  <logout></logout>
  
  <ion-content class="padding">
    
    <select name="profession" class="dropdown bottom_30" ng-model="profession">
        <option value="">Select</option>
        <option value="artists">Actor</option>
        <option value="technicians">Actress</option>
        <option value="clients">Comedian</option>
    </select>

    <div class="card list_artist" ng-repeat="user in users_details">
      <div class="artist_profile" style="background: url('img/artist1.jpg') no-repeat;background-size: 100% 300px;">
        <div class="padding artist_info">
        <img src="img/thumnail.png" alt="Thumnail">
          <h4>{{::user.user_name}}</h4>
          <!-- <p>Artists</p> -->
          <p>{{::user.user_city}}</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
