<ion-view view-title="Artists" class="dashboard">
  <ion-content class="padding">
    
    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Megna naidu, Artist <span class="pull-right">Age: 24</span></h4>
          <p>Chennai</p>
        </div>
    </div>
    
    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Megna naidu, Artist <span class="pull-right">Age: 24</span></h4>
          <p>Chennai</p>
        </div>
    </div>

    <div class="card list_artist" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist">
        <div class="padding">
          <h4>Megna naidu, Artist <span class="pull-right">Age: 24</span></h4>
          <p>Chennai</p>
        </div>
    </div>

  </ion-content>
</ion-view>
