<ion-view view-title="Browse your roles" class="dashboard">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>
  
  <ion-content class="padding">

    <div class="border_bottom filmlist filmlistTab">
        <!--<select class="segment-select">
            <option ng-click="vm.getFilmsType('1');" value="1">Feature</option>
            <option ng-click="vm.getFilmsType('2');" value="2">Ad</option>
            <option ng-click="vm.getFilmsType('3');" value="3">Short</option>
            <option ng-click="vm.getFilmsType('4');" value="4">Tv</option>
        </select>-->
        <div ng-click="vm.getFilmsType('1');">Feature</div>
        <div ng-click="vm.getFilmsType('2');">Ad</div>
        <div ng-click="vm.getFilmsType('3');">Short</div>
        <div ng-click="vm.getFilmsType('4');">Tv</div>
    </div>
    
    <div class="row padding0">
      
      <div class="card col list_tech list_all" ng-repeat="project in vm.projects">
          <div class="card-content">
              <h3 class="text-center">{{::vm.project[project.user_project_id]}}</h3>
              <p>Looking for {{::vm.looking[project.user_looking_for]}}.</p>
              <p>{{::project.user_character_name}}</p>
              <div>
                 <button ui-sref="film-overview({id: project.user_id})" class="button button-outline loginbtn viewbtn">
                   View
                 </button>
              </div>
          </div>
      </div>
    </div>

  </ion-content>
</ion-view>
