<ion-view view-title="Browse your roles" class="dashboard">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>
  
  <ion-content class="padding">

    <div class="border_bottom filmlist">
        <select class="segment-select">
            <option value="1">Feature</option>
            <option value="0">Add</option>
            <option value="0">Short</option>
            <option value="0">Tv</option>
        </select>
    </div>
    
    <div class="row padding0">
      
      <div class="card col list_tech" ui-sref="film-overview">
          <div class="card-content">

              <h3 class="text-center">Add film</h3>
              <p>Looking for Male.</p>
              <p>Character name</p>
              <div>
                 <button class="button button-outline loginbtn viewbtn">
                   View
                 </button>
              </div>

          </div>
      </div>

      <div class="card col list_tech" ui-sref="film-overview">
          <div class="card-content">

              <h3 class="text-center">Add film</h3>
              <p>Looking for Male.</p>
              <p>Character name</p>
              <div>
                 <button class="button button-outline loginbtn viewbtn">
                   View
                 </button>
              </div>

          </div>
      </div>

    </div>

  </ion-content>
</ion-view>
