<ion-view view-title="Landing" class="pane" hide-nav-bar="true">
  <ion-content class="padding">
		
	<div id="landing_header" class="text-center">
		<img src="img/logo.png" alt="Logo_Meapp" class="img-responsive">
	</div>    
		
  </ion-content>

  <div id="landing_footer">
	<h2>change your future</h2>
	<h5>Becoming a celebrity is now only a click away. Build your portfolio and let it speak for you.</h5>
	<button class="button button-outline land_btn" ui-sref="login">
	   login
	</button>
	<button class="button button-outline pull-right land_btn" ui-sref="signup">
	   signup
	</button>
  </div>

</ion-view>
