<ion-view view-title="Overview" class="dashboard">
  <ion-content class="padding">
    
    <div class="list_overview" ui-sref="overview">
        <img src="img/artist1.jpg" alt="Artist" class="img-responsive">
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Email <span class="pull-right">megna@gmail.com</span></p>
        <p>Mobile no <span class="pull-right">8969895696</span></p>
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
        <p>Name <span class="pull-right">Megna naidu, Artist</span></p>
        <p>Address <span class="pull-right">Chennai</span></p>
    </div>

  </ion-content>
</ion-view>
