<ion-view view-title="Landing" class="login" hide-nav-bar="true">
  <ion-content class="padding">

	<div id="landing_header" class="text-center">
		<img src="img/logo.png" alt="Logo_Meapp" class="img-responsive">
	</div>    

	<div class="row login_grid">
		<form>
			<input type="text" name="name" placeholder="Name" class="inputbox">
			<input type="email" name="email" placeholder="Email" class="inputbox">
			<input type="password" name="password" placeholder="Password" class="inputbox">
			<input type="password" name="confirm_password" placeholder="Confirm Password" class="inputbox">
			<input type="number" name="mobile" placeholder="Mobile no" class="inputbox">
			<select name="profession" class="dropdown bottom_30" ng-model="profession">
				<option value="">Select your profession</option>
				<option value="artists">Artists</option>
				<option value="technicians">Technicians</option>
				<option value="clients">Clients</option>
			</select>
			<button class="button button-outline loginbtn" ng-click="signup()">
			  signup
			</button>
		</form>
	</div>

	<div class="row text-center">
		<p ui-sref="forgot" class="forgot">Forgot Password?</p>
	</div>

	<div class="row">
		<h4 class="signup">Already have an account ? <span ui-sref="login">Login</span></h4>
	</div>

  </ion-content>
</ion-view>
