<ion-view view-title="Landing" class="login" hide-nav-bar="true">
  <ion-content class="padding">

	<div id="landing_header" class="text-center">
		<img src="img/logo.png" alt="Logo_Meapp" class="img-responsive">
	</div>    

	<div class="row login_grid">
		<form>
			<select name="profession" class="dropdown" ng-model="profession">
				<option value="">Select your profession</option>
				<option value="artists">Artists</option>
				<option value="technicians">Technicians</option>
				<option value="clients">Directors/Producers</option>
			</select>

			<div id="artists">
				<input type="text" name="name" placeholder="Name" class="inputbox">
				<input type="email" name="email" placeholder="Email" class="inputbox">
				<input type="password" name="password" placeholder="Password" class="inputbox">
				<input type="password" name="confirm_password" placeholder="Confirm Password" class="inputbox">
				<input type="number" name="mobile" placeholder="Mobile no" class="inputbox">
				<div><label><input type="radio" name="gender"> Male</label>
				<label><input type="radio" name="gender"> Female</label></div>
				<input type="date" name="dob" placeholder="Date of birth" class="inputbox">
				<label>Add Profile picture <input type="file" name="profile"></label><br><br>
				<label>Add Profile videos <input type="file" name="profile_videos"></label><br><br>
				<select name="skills" class="dropdown">
					<option value="0">Skills</option>
					<option value="Horse Riding">Horse Riding</option>
					<option value="Swimming">Swimming</option>
					<option value="Singing">Singing</option>
					<option value="Dancing">Dancing</option>
					<option value="Ramp">Ramp</option>
					<option value="Host / Hostess">Host / Hostess</option>
					<option value="Theater">Theater</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="otherskills" class="inputbox" placeholder="Enter your skills">
				<select name="experince" class="dropdown">
					<option value="0">Experience</option>
					<option value="Fresher">Fresher</option>
					<option value="Experinced">Experinced</option>
					<option value="Fresher/Experinced">both</option>
				</select>
				<input type="text" name="city" placeholder="City" class="inputbox">
				<select name="ethnicity" class="dropdown">
					<option value="0">Ethnicity</option>
					<option value="Indian">Indian</option>
					<option value="English">English</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="other_ethnicity" class="inputbox" placeholder="Enter your ethnicity">
				<select name="body_type" class="dropdown">
					<option value="0">Body Type</option>
					<option value="Slim">Slim</option>
					<option value="Average">Average</option>
					<option value="Athletic">Athletic</option>
					<option value="Plus Size">Plus Size</option>
				</select>
				<select name="hair_type" class="dropdown">
					<option value="0">Hair Type</option>
					<option value="Long">Long</option>
					<option value="Short">Short</option>
					<option value="Curly">Curly</option>
					<option value="Bald">Bald</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_hairtype" class="inputbox" placeholder="Enter your hair type">
				<input type="text" name="weight" class="inputbox" placeholder="Enter your weight">
				<select name="skin_color" class="dropdown">
					<option value="0">Skin Color</option>
					<option value="Light">Light</option>
					<option value="Dusky">Dusky</option>
					<option value="Olive">Olive</option>
					<option value="Mix">Mix</option>
				</select>
				<select name="hair_color" class="dropdown">
					<option value="0">Hair Color</option>
					<option value="Light Brown">Light Brown</option>
					<option value="Red">Red</option>
					<option value="Blonde">Blonde</option>
					<option value="Silver / Grey">Silver / Grey</option>
					<option value="Colored">Colored</option>
					<option value="Black">Black</option>
				</select>
				<div>
					Professional training <label><input type="radio" name="training" value="Yes"> Yes</label>
					<label><input type="radio" name="training" value="No"> No</label>
				</div><br>
				<select name="languages" class="dropdown">
					<option value="0">Languages</option>
					<option value="Tamil">Tamil</option>
					<option value="Hindi">Hindi</option>
					<option value="English">English</option>
					<option value="Telugu">Telugu</option>
					<option value="Malayalam">Malayalam</option>
					<option value="Kannada">Kannada</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_languages" class="inputbox bottom_30" placeholder="Enter your language">

				<button class="button button-outline loginbtn" ng-click="register()">
				  register
				</button>
			</div>

			<!-- technicians -->
			<div id="technicians" ng-show="technicians_list">
				<input type="text" name="name" placeholder="Name" class="inputbox">
				<input type="email" name="email" placeholder="Email" class="inputbox">
				<input type="password" name="password" placeholder="Password" class="inputbox">
				<input type="password" name="confirm_password" placeholder="Confirm Password" class="inputbox">
				<input type="number" name="mobile" placeholder="Mobile no" class="inputbox">
				<div><label><input type="radio" name="gender"> Male</label>
				<label><input type="radio" name="gender"> Female</label></div>
				<input type="date" name="dob" placeholder="Date of birth" class="inputbox">
				<label>Add Profile picture <input type="file" name="profile"></label><br><br>
				<label>Add Profile videos <input type="file" name="profile_videos"></label><br><br>
				<select name="skills" class="dropdown">
					<option value="0">Skills</option>
					<option value="Horse Riding">Horse Riding</option>
					<option value="Swimming">Swimming</option>
					<option value="Singing">Singing</option>
					<option value="Dancing">Dancing</option>
					<option value="Ramp">Ramp</option>
					<option value="Host / Hostess">Host / Hostess</option>
					<option value="Theater">Theater</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="otherskills" class="inputbox" placeholder="Enter your skills">
				<select name="experince" class="dropdown">
					<option value="0">Experience</option>
					<option value="Fresher">Fresher</option>
					<option value="Experinced">Experinced</option>
					<option value="Fresher/Experinced">both</option>
				</select>
				<input type="text" name="city" placeholder="City" class="inputbox">
				<select name="ethnicity" class="dropdown">
					<option value="0">Ethnicity</option>
					<option value="Indian">Indian</option>
					<option value="English">English</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="other_ethnicity" class="inputbox" placeholder="Enter your ethnicity">
				<select name="body_type" class="dropdown">
					<option value="0">Body Type</option>
					<option value="Slim">Slim</option>
					<option value="Average">Average</option>
					<option value="Athletic">Athletic</option>
					<option value="Plus Size">Plus Size</option>
				</select>
				<select name="hair_type" class="dropdown">
					<option value="0">Hair Type</option>
					<option value="Long">Long</option>
					<option value="Short">Short</option>
					<option value="Curly">Curly</option>
					<option value="Bald">Bald</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_hairtype" class="inputbox" placeholder="Enter your hair type">
				<input type="text" name="weight" class="inputbox" placeholder="Enter your weight">
				<select name="skin_color" class="dropdown">
					<option value="0">Skin Color</option>
					<option value="Light">Light</option>
					<option value="Dusky">Dusky</option>
					<option value="Olive">Olive</option>
					<option value="Mix">Mix</option>
				</select>
				<select name="hair_color" class="dropdown">
					<option value="0">Hair Color</option>
					<option value="Light Brown">Light Brown</option>
					<option value="Red">Red</option>
					<option value="Blonde">Blonde</option>
					<option value="Silver / Grey">Silver / Grey</option>
					<option value="Colored">Colored</option>
					<option value="Black">Black</option>
				</select>
				<div>
					Professional training <label><input type="radio" name="training" value="Yes"> Yes</label>
					<label><input type="radio" name="training" value="No"> No</label>
				</div><br>
				<select name="languages" class="dropdown">
					<option value="0">Languages</option>
					<option value="Tamil">Tamil</option>
					<option value="Hindi">Hindi</option>
					<option value="English">English</option>
					<option value="Telugu">Telugu</option>
					<option value="Malayalam">Malayalam</option>
					<option value="Kannada">Kannada</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_languages" class="inputbox bottom_30" placeholder="Enter your language">

				<button class="button button-outline loginbtn" ng-click="register()">
				  register
				</button>
			</div>

			<!-- clients -->
			<div id="clients" ng-show="clients_list">
				<input type="text" name="name" placeholder="Name" class="inputbox">
				<input type="email" name="email" placeholder="Email" class="inputbox">
				<input type="password" name="password" placeholder="Password" class="inputbox">
				<input type="password" name="confirm_password" placeholder="Confirm Password" class="inputbox">
				<input type="number" name="mobile" placeholder="Mobile no" class="inputbox">
				<div><label><input type="radio" name="gender"> Male</label>
				<label><input type="radio" name="gender"> Female</label></div>
				<input type="date" name="dob" placeholder="Date of birth" class="inputbox">
				<label>Add Profile picture <input type="file" name="profile"></label><br><br>
				<label>Add Profile videos <input type="file" name="profile_videos"></label><br><br>
				<select name="skills" class="dropdown">
					<option value="0">Skills</option>
					<option value="Horse Riding">Horse Riding</option>
					<option value="Swimming">Swimming</option>
					<option value="Singing">Singing</option>
					<option value="Dancing">Dancing</option>
					<option value="Ramp">Ramp</option>
					<option value="Host / Hostess">Host / Hostess</option>
					<option value="Theater">Theater</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="otherskills" class="inputbox" placeholder="Enter your skills">
				<select name="experince" class="dropdown">
					<option value="0">Experience</option>
					<option value="Fresher">Fresher</option>
					<option value="Experinced">Experinced</option>
					<option value="Fresher/Experinced">both</option>
				</select>
				<input type="text" name="city" placeholder="City" class="inputbox">
				<select name="ethnicity" class="dropdown">
					<option value="0">Ethnicity</option>
					<option value="Indian">Indian</option>
					<option value="English">English</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="other_ethnicity" class="inputbox" placeholder="Enter your ethnicity">
				<select name="body_type" class="dropdown">
					<option value="0">Body Type</option>
					<option value="Slim">Slim</option>
					<option value="Average">Average</option>
					<option value="Athletic">Athletic</option>
					<option value="Plus Size">Plus Size</option>
				</select>
				<select name="hair_type" class="dropdown">
					<option value="0">Hair Type</option>
					<option value="Long">Long</option>
					<option value="Short">Short</option>
					<option value="Curly">Curly</option>
					<option value="Bald">Bald</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_hairtype" class="inputbox" placeholder="Enter your hair type">
				<input type="text" name="weight" class="inputbox" placeholder="Enter your weight">
				<select name="skin_color" class="dropdown">
					<option value="0">Skin Color</option>
					<option value="Light">Light</option>
					<option value="Dusky">Dusky</option>
					<option value="Olive">Olive</option>
					<option value="Mix">Mix</option>
				</select>
				<select name="hair_color" class="dropdown">
					<option value="0">Hair Color</option>
					<option value="Light Brown">Light Brown</option>
					<option value="Red">Red</option>
					<option value="Blonde">Blonde</option>
					<option value="Silver / Grey">Silver / Grey</option>
					<option value="Colored">Colored</option>
					<option value="Black">Black</option>
				</select>
				<div>
					Professional training <label><input type="radio" name="training" value="Yes"> Yes</label>
					<label><input type="radio" name="training" value="No"> No</label>
				</div><br>
				<select name="languages" class="dropdown">
					<option value="0">Languages</option>
					<option value="Tamil">Tamil</option>
					<option value="Hindi">Hindi</option>
					<option value="English">English</option>
					<option value="Telugu">Telugu</option>
					<option value="Malayalam">Malayalam</option>
					<option value="Kannada">Kannada</option>
					<option value="Others">Others</option>
				</select>
				<input type="text" name="others_languages" class="inputbox bottom_30" placeholder="Enter your language">

				<button class="button button-outline loginbtn" ng-click="register()">
				  register
				</button>
			</div>

		</form>
	</div>

	<div class="row">
		<h4 class="signup">Already have an account ? <span ui-sref="login">Login</span></h4>
	</div>
	<button class="button button-outline loginbtn" ui-sref="dashboard" style="width: 130px;">
	  Dashboard
	</button>

  </ion-content>
</ion-view>
