<ion-view view-title="Landing" class="login" hide-nav-bar="true">
  <ion-content class="padding">

	<div id="landing_header" class="text-center">
		<img src="img/logo.png" alt="Logo_Meapp" class="img-responsive">
	</div>    

	<div class="row login_grid">
		<form name="form.signupForm" novalidate="">
			<input type="text" name="name" placeholder="Name" class="inputbox" ng-model="user.name" autocomplete="off" required>
			<div class="error_alert" ng-show="form.signupForm.name.$dirty && form.signupForm.name.$touched">
			    <span ng-show="form.signupForm.name.$error.required">Name is required</span>
			</div>
			<input type="email" name="email" placeholder="Email" class="inputbox" ng-model="user.email" autocomplete="off" required>
			<div class="error_alert" ng-show="form.signupForm.email.$dirty && form.signupForm.email.$invalid">
			    <span ng-show="form.signupForm.email.$error.required">Email is required</span>
			    <span ng-show="form.signupForm.email.$error.email">Invalid email address</span>
			</div>
			<input type="password" name="password" placeholder="Password" class="inputbox" ng-model="user.password" autocomplete="off" required>
			<div class="error_alert" ng-show="form.signupForm.password.$dirty && form.signupForm.password.$touched">
			    <span ng-show="form.signupForm.password.$error.required">Password is required</span>
			</div>
			<input type="password" name="confirm_password" placeholder="Confirm Password" class="inputbox" ng-model="user.confirm_password" autocomplete="off" required>
			<div class="error_alert" ng-show="form.signupForm.confirm_password.$dirty && form.signupForm.confirm_password.$touched">
			    <span ng-show="form.signupForm.confirm_password.$error.required">Confirm Password is required</span>
			</div>
			<input type="number" name="mobile" placeholder="Mobile no" class="inputbox" ng-model="user.mobile" autocomplete="off" required>
			<div class="error_alert" ng-show="form.signupForm.mobile.$dirty && form.signupForm.mobile.$touched">
			    <span ng-show="form.signupForm.mobile.$error.required">Mobile is required</span>
			</div>
			<select name="profession" class="dropdown bottom_30" ng-model="user.profession" autocomplete="off" required>
				<option value="">Select your profession</option>
				<option ng-repeat="profess in profession_types" value="{{profess.id_type}}">{{profess.type}}</option>
			</select>
			<div class="error_alert" ng-show="form.signupForm.profession.$dirty && form.signupForm.profession.$touched">
			    <span ng-show="form.signupForm.profession.$error.required">Choose Profession</span>
			</div>
			<button class="button button-outline loginbtn" ng-disabled="!form.signupForm.$valid" ng-click="signup()">
			  signup
			</button>
		</form>
	</div>

	<div class="row text-center">
		<p ui-sref="forgot" class="forgot">Forgot Password?</p>
	</div>

	<div class="row">
		<h4 class="signup">Already have an account ? <span ui-sref="login">Login</span></h4>
	</div>

  </ion-content>
</ion-view>
