<ion-view view-title="Technician Register">

  <div class="logout">
    <logout></logout>
  </div>

  <ion-content class="padding">   

	<div class="row login_grid1">
		<form name="vm.form.technician">
			<!-- technicians -->
			<div id="technicians">

				<div>
				<p class="titleColor">Profile pictures</p>
				<div class="row no_pad multipleimage">
					<div class="col-33 col">
						<label class="uploadbtn1">
							<input type="file" name="file" id="frontviewField" onchange="angular.element(this).scope().uploadFile(this.files, 'frontview')" />
						</label><br>
						<span id="frontview"></span>
						<span id="frontviewDelete" style="display:none;" ng-click="vm.deleteImg('frontview');">X</span>
					</div>

					<div class="col-33 col">
						<label class="uploadbtn2">
							<input type="file" name="file" id="sideviewField" onchange="angular.element(this).scope().uploadFile(this.files, 'sideview')" />
						</label><br>
						<span id="sideview"></span>
						<span id="sideviewDelete" style="display:none;" ng-click="vm.deleteImg('sideview');">X</span>
					</div>

					<div class="col-33 col">
						<label class="uploadbtn3">
							<input type="file" name="file" id="fullviewField" onchange="angular.element(this).scope().uploadFile(this.files, 'fullview')" />
						</label><br>
						<span id="fullview"></span>
						<span id="fullviewDelete" style="display:none;" ng-click="vm.deleteImg('fullview');">X</span>
					</div>
				</div>
				</div> 

				<div class="border_bottom">
				<label>
					<div>
						<input type="url" name="videos" placeholder="Profile video(Youtube link)" class="inputbox" ng-model="vm.technician.videos">
					</div>

					<div id="profileVideo">
						<label class="uploadbtn4">
							<input type="file" id="videoFile" name="file" onchange="angular.element(this).scope().uploadVideo(this.files)" />
						</label><br>
						<span id="previewVideo">
							<video ng-if="vm.technician.video_name" width="100%" height="200px" ng-src="{{vm.upload_video('http://mewhoelse.in/video/' + vm.technician.video_name)}}" controls />
						</span>
						<span id="previewVideoDelete" ng-if="vm.technician.video_name" ng-click="vm.deleteVideo();">X</span>
					</div>
				</label>
				</div>

				<textarea name="skills" class="textareabox" placeholder="Skills" ng-model="vm.technician.skills"></textarea>

				<p class="titleColor">Personal details</p>

				<div class="border_bottom">
				<p>Gender <span class="pull-right">
					<select class="segment-select" id="gender">
				      <option value="1">Male</option>
				      <option value="2">Female</option>
				  	</select>
				</span></p>
			  	</div>

				<input type="date" name="dob" ng-model="vm.technician.dob" placeholder="Date of birth" class="inputbox">

				<div class="border_bottom">
				<p ng-click="vm.listLanguages();">Languages <span class="pull-right" ng-show="!vm.showLanguages"><i class="icon ion-ios-arrow-forward"></i></span><span class="pull-right" ng-show="vm.showLanguages"><i class="icon ion-ios-arrow-down"></i></span></p>
					<div class="wrapper" id="dwrapper8">
						<ul id="languages_list" ng-show="vm.showLanguages">
							<li ng-repeat="(key, value) in vm.languages">
								<input type="checkbox" name="selectlanguages[]" value="{{key}}" ng-model="vm.selectedLanguages[key]" />
								{{value}}
							</li>
						</ul>
					</div>
				</div>

				<input type="text" name="others_languages" ng-model="vm.technician.others_languages" class="inputbox bottom_30" placeholder="Enter other languages" />

				<div class="border_bottom">
				<p>Experience <span class="pull-right">
					<select class="segment-select" id="experience">
				      <option value="1">Fresher</option>
				      <option value="2">Experienced</option>
				  	</select>
				</span></p>
			  	</div>

				<input type="text" name="city" placeholder="City" class="inputbox" ng-model="vm.technician.city" />

				<input type="text" name="other_ethnicity" placeholder="Ethnicity" class="inputbox" ng-model="vm.technician.other_ethnicity" />

				<div class="border_bottom">
				<p>Professional trained <span class="pull-right">
					<select class="segment-select" id="training">
				      <option value="1">Yes</option>
				      <option value="2">No</option>
				  	</select>
				</span></p>
			  	</div>

				<button class="button button-outline loginbtn createportfolio" ng-click="vm.saveTechnicianDetails()">
				  create portfolio
				</button>
			</div>

		</form>
	</div>

  </ion-content>
</ion-view>
