<ion-view view-title="Technicians Overview" class="dashboard">

  <ion-nav-buttons side="right">
    <logout></logout>
  </ion-nav-buttons>
  
  <ion-content class="padding">
    
    <div class="list_overview">
        <div class="profile_picture">
            <h4>{{::vm.technician.user_name}}</h4>
        </div>

        <div class="padding_0 artistColor">

            <div class="row" ng-if="vm.technician.user_skills_id">
                <div class="col col-50">Skills</div>
                <div class="col col-50">: {{::vm.skills}}</div>
            </div>
            <div class="row" ng-if="vm.technician.user_skills_others">
                <div class="col col-50">Skills</div>
                <div class="col col-50">: {{::vm.technician.user_skills_others}}</div>
            </div>

            <p class="titleColor">Personal details</h4>
            <div class="row">
                <div class="col col-50">Gender</div>
                <div class="col col-50">: {{::vm.gender}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Date of birth</div>
                <div class="col col-50">: {{::vm.technician.user_dob | date : 'mediumDate'}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Languages</div>
                <div class="col col-50">: {{::vm.lang}}</div>
            </div>
            <div class="row" ng-if="vm.technician.user_language_others">
                <div class="col col-50">Languages</div>
                <div class="col col-50">: {{::vm.technician.user_language_others}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Experience</div>
                <div class="col col-50">: {{::vm.exp}}</div>
            </div>
            <div class="row">
                <div class="col col-50">City</div>
                <div class="col col-50">: {{::vm.technician.user_city}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Ethnicity</div>
                <div class="col col-50">: {{::vm.technician.user_ethinicity}}</div>
            </div>
            <div class="row">
                <div class="col col-50">Professional trained</div>
                <div class="col col-50">: <span ng-if="vm.technician.user_is_professional == 0">Yes</span>
            <span ng-if="vm.technician.user_is_professional == 1">No</span></div>
            </div>

            <p class="titleColor">Profile photos</p>

            <div class="row no_pad">
                <div class="col col-33">
                    <img src="http://mewhoelse.in/img/profile/{{vm.technician.user_id}}_front.jpg" width="90px" height="117px" />
                </div>
                <div class="col col-33">
                    <img src="http://mewhoelse.in/img/profile/{{vm.technician.user_id}}_side.jpg" width="90px" height="117px" />
                </div>
                <div class="col col-33">
                    <img src="http://mewhoelse.in/img/profile/{{vm.technician.user_id}}_full.jpg" width="90px" height="117px" />
                </div>
            </div>

            <p class="titleColor bottom_10">Profile Videos</p>
            
            <div class="bottom_10">
                <youtube-video ng-if="vm.technician.user_videos" player-width="'100%'" player-height="'200px'" player="bestPlayer" video-url="vm.technician.user_videos"></youtube-video>
            </div>
            <div class="bottom_10">
                <video ng-if="vm.technician.video_name" width="100%" height="200px" ng-src="{{vm.upload_video('http://mewhoelse.in/video/' + vm.technician.video_name)}}" controls />
            </div>

        </div>

        <button class="button button-outline loginbtn autowidth">
          Send message
        </button>

    </div>

  </ion-content>
</ion-view>
