/* Empty. Add your own CSS if you like */
/* landing page */
body
{
    font-family: 'openSans' !important;
}
@font-face {
    font-family:'openSans';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#OpenSansSemibold') format('svg');
}
.pull-left{float: left;}
.pull-right{float: right;}
.bottom_20{margin-bottom: 20px !important;}
.bottom_30{margin-bottom: 30px !important;}
#landing{width: 100%;height: 100%;}
#landing_header{margin-top: 30px;}
#landing_header p{text-align: left;color: #ffffff;}
#landing_header img{width: 50%;}
.pane {
        background: url('../img/landing_bg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
#landing_footer{position: fixed;bottom: 60px;padding: 0 30px 0 20px;}
#landing_footer h2{color: #f836ff;font-family:'openSans';text-transform: uppercase;}
#landing_footer h5{color: #ffae20;font-family:'openSans';text-transform: uppercase;line-height: 20px;
margin-bottom: 20px;}
#landing_footer .button{color: #ffffff;text-transform: uppercase;border: 1px solid #ffffff;border-radius: 0;
width: 100px;min-height: 32px;line-height: 32px;font-family:'openSans';}
form {
    width: 100%;
}
/* login page */
.img-responsive{max-width: 100%;height: auto;}
.login {
        background: url('../img/login_bg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
.dashboard {
        background: url('../img/bg.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
/*.inputbox{width: 100%;float: left;background: none;border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;margin-bottom: 20px;font-size: 16px !important;}*/
    .inputbox{width: 100%;
    float: left;
    background: rgba(185,134,235,0.2);
    /*background: none;*/
/*    border-bottom: 1px solid #b986eb !important;
*/    color: #ffffff !important;
    margin-bottom: 15px;
    font-size: 14px !important;padding-left: 10px !important;}
    .border_bottom{/*border-bottom: 1px solid #b986eb !important;padding-bottom: 10px;*/
    margin-bottom: 5px;float: left;width: 100%;}
.textareabox{width: 100%;float: left;/*background: none;border: 1px solid #ffffff !important;*/background: rgba(185,134,235,0.2);
    color: #ffffff !important;margin-bottom: 10px;font-size: 16px !important;min-height: 100px;padding: 10px;}
/*.dropdown{width: 100%;float: left;background: none;border:0;border-bottom: 1px solid #ffffff !important;
    color: #ffffff !important;margin-bottom: 20px;font-size: 16px !important;padding-bottom: 8px;
 -webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow: '';
background: url('../img/dropdown.png') no-repeat top 10px right;}*/
.dropdown{width: 100%;float: left;background: none;border:0;border-bottom: 1px solid #b986eb !important;
    color: #ffffff !important;margin-bottom: 10px;font-size: 16px !important;padding-bottom: 8px;
 -webkit-appearance: none;-moz-appearance: none;text-indent: 1px;text-overflow: '';
background: url('../img/dropdown.png') no-repeat top 10px right;}
.loginbtn{color: #ffffff !important;text-transform: uppercase;/*border: 1px solid #ffffff !important;*/
	border-radius: 0;width: 100px;min-height: 28px;line-height: 28px;font-family:'openSans';
display: table;margin: auto;margin-bottom: 10px;font-size: 12px;background: rgba(185,134,235,0.2) !important;}
.forgot{color: #ffae20;font-family:'openSans';width: 100%;}
.signup{color: #ffffff;font-family:'openSans';font-size: 16px;}
.signup span{color: #ffae20;font-family:'openSans';}
.login_grid{margin-top: 20px;color: #ffffff;}
.login_grid h4{color: #ffffff;font-family:'openSans';}
/* dashboard page */ 
.list_artist{width: 100%;display: table;position: relative;}
.artist_profile{min-height: 300px;padding: 10px;}
.list_artist h4{color: #42214e;font-family: 'openSans';text-transform: capitalize;margin-top: 0;font-size: 16px;
font-weight: bold;}
.list_artist p{color: #42214e;font-family: 'openSans';text-transform: capitalize;margin-bottom: 0;
font-weight: bold;}
.artist_info{position: relative;background-color:rgba(255,255,255, 0.8);position: absolute;bottom: 10px;
width: 93%;}
.artist_info img{position: absolute;right: 10px;bottom: 45px;border-radius: 50%;}

/* overview page */
.list_overview p{color: #ffffff;font-family: 'openSans';font-size: 12px;}
.list_overview span{color: #ffae20;text-transform: capitalize;}
.bar-header {background: none !important;border-bottom: 1px solid #ffffff;}
.bar .title{color: #ffae20 !important;}
.bar .back-button.hide, .bar .buttons .hide{display: block;color: #ffffff;}
.previous-title{display: none !important;}
.error_alert{
    color: red;
    background-color: #f2dede;
    border-left: 3px solid red;
    padding: 4px;
    margin-bottom: 10px;
    width: 100%;float: left;font-size: 12px;font-weight: bold;
}
.loading-container .loading{padding: 10px !important;}
.spinner svg {
    width: 40px !important;
    height: 40px !important;
}
.spinner {
    stroke: #f836ff !important;
    fill: #f836ff !important;
}
/*.padding_30{padding: 0 10px 10px 10px;}*/
.padding_30 {
    padding: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.5);
}
.padding_0 {
    background: rgba(0, 0, 0, 0.5);
}
.profile_picture{text-align: center;}
.profile_picture h4{color: #ffffff;text-transform: capitalize;margin-bottom: 15px;font-weight: 400;}
.personal{color: #ffffff;text-transform: capitalize;padding-left: 30px;font-weight: 100;margin-bottom: 15px;}
.createportfolio{width: 160px !important;}
.ion-log-out{color: white;font-size: 20px;display: table;margin: 6px 5px 0 0;}
#firstPhoto, #secondPhoto, #thirdPhoto {margin-bottom: 10px;}
.logout{position: fixed;top: 10px;right: 10px;z-index: 1000;}
.autowidth{width: auto !important;}
.login_grid1{color: #ffffff;}
.back-text{display: none !important;}
.no_pad{padding: 0 !important;}
.login_grid1 ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;font-size: 14px;
}
.login_grid1 ::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;font-size: 14px;
}
.login_grid1 :-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;font-size: 14px;
}
.login_grid1 :-moz-placeholder { /* Firefox 18- */
  color: #ffffff;font-size: 14px;
}
.login_grid ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;font-size: 14px;
}
.login_grid ::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;font-size: 14px;
}
.login_grid :-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;font-size: 14px;
}
.login_grid :-moz-placeholder { /* Firefox 18- */
  color: #ffffff;font-size: 14px;
}
.multipleimage{margin-bottom: 10px;}
.multipleimage .uploadbtn1{position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background:url('../img/headview.png') no-repeat;
    display:block;
    width:90px;
    height:117px;
    line-height:30px;
    float:left;}
    .multipleimage .uploadbtn2{position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background:url('../img/profileview.png') no-repeat;
    display:block;
    width:90px;
    height:117px;
    line-height:30px;
    float:left;}
    .multipleimage .uploadbtn3{position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background:url('../img/fullview.png') no-repeat;
    display:block;
    width:90px;
    height:117px;
    line-height:30px;
    float:left;}
.multipleimage input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
#profileVideo input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
    left:0;
}
#profileVideo .uploadbtn4{position:relative;
    overflow:hidden;
    cursor:pointer;
    text-align:center;
    background:url('../img/addvideo.png') no-repeat;
    display:block;
    width:150px;
    height:30px;
    line-height:30px;
    float:left;}
.titleColor{color: #ffae20 !important;}
.artistColor{color: #ffffff;font-size: 12px;position: relative;margin-bottom: 10px;float: left;
width: 100%;}
.artistColor p{margin: 10px 0 0 10px;}
.bar-stable .button.button-clear{color: #ffffff;}
.editProject{position: absolute;top: 5px;right: 7px;z-index: 9999;cursor: pointer;color: #ffae20;font-size: 24px;
}
.top_10{padding-top: 10px;}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
    color: #ffae20 !important;
}
.tabs{background: rgba(255,255, 255, 0.2) !important;}
ion-tabs.tabs-color-active-positive .tab-item {
    color: white !important;
}
.list_tech{margin:10px 5px 10px 5px !important;background: rgba(255, 255, 255, 0.2);}
.list_tech img{max-width: 100%;box-sizing: border-box;}
.list_tech h3{margin-top: 0;color: #ffae20 !important;font-size: 16px;text-transform: capitalize;}
.list_tech p{color: #ffffff;font-size: 12px;}
.padding0{padding: 0px !important;}
.list_tech span{font-size: 12px;}
.land_btn{background: rgba(185,134,235,0.2) !important;border: 0 !important;font-size: 14px !important;}
.viewbtn{background: rgba(185,134,235) !important;}
.filmlist .ui-segment{border-radius: 2px !important;}
.filmlist .ui-segment span.option{padding-left: 10px !important;padding-right: 10px !important;}